body {
  background-color: #eee;
}

.navbar {
  padding: 10px;
  background-color: #a33;
  list-style: none;
}

.navbar li {
  display: inline-block;
  padding: 10px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

