.navbar{
    padding: 10px;
    background-color: #a33;
    list-style :none;

    li{
        display: inline-block;
        padding: 10px;

    }
    a{
        color: white;
        text-decoration: none;
    }
}